<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'お知らせ_'+${application.website.name}"></title>
    <meta name="keywords" content="お知らせ,小説,小説サイト,現代恋愛小説,都市恋愛小説,ファンタジー小説,タイムスリップ小説,青春学園小説,社長ロマンス小説,ネット小説,無料小説,完本小説,オリジナルネット文学"/>
    <meta name="description"
          th:content="${application.website.name}+'小説を毎日更新中。小説ランキング、現代恋愛小説、都市恋愛小説、ファンタジー小説、タイムスリップ小説、青春学園小説、社長ロマンス小説、ネット小説、無料小説、完本小説、最新話を無料で読めます。'+${application.website.name}+'小説でお楽しみください！'"/>
    <link rel="stylesheet" href="/css/about.css?v=1"/>
</head>
<body class="body">

<div th:replace="common/top :: top('')">
</div>
<!--主体 start-->
<div class="main box_center cf">


    <div class="my_r" style="width: 960px">
        <div class="newsBox">
            <ul class="news_list" id="newsList">


            </ul>


        </div>
        <div class="pageBox cf" id="newsPage">

        </div>
    </div>


</div>
<!--主体 end-->

<div th:replace="common/footer :: footer">
</div>
v
<div th:replace="common/js :: js"></div>
<script src="/javascript/bookdetail.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    search(1, 5);

    function search(curr, limit) {

        $.ajax({
            type: "get",
            url: "/news/listByPage",
            data: {'curr': curr, 'limit': limit},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    var newsList = data.data.list;
                    if (newsList.length > 0) {
                        var newsListHtml = "";
                        for (var i = 0; i < newsList.length; i++) {
                            var news = newsList[i];
                            newsListHtml += (" <li>\n" +
                                "                        <h5><i class=\"dot\"></i><a href=\"newsInfo-" + news.id + ".html\" >" + news.title + "</a></h5>\n" +
                                "                        <p>" + news.createTime + "</p>\n" +
                                "                    </li>");
                        }
                        $("#newsList").html(newsListHtml);

                        layui.use('laypage', function () {
                            var laypage = layui.laypage;

                            //laypageインスタンスを実行
                            laypage.render({
                                elem: 'newsPage' //注意：ここは ID。# は付けない # 号
                                , count: data.data.total //データ総数。サーバーから取得,
                                , curr: data.data.pageNum
                                , limit: data.data.pageSize
                                , jump: function (obj, first) {


                                    //objには現在のページの全パラメータが含まれる。例：
                                    console.log(obj.curr); //現在のページを取得し、サーバーに該当ページのデータを要求。
                                    console.log(obj.limit); //1ページあたりの表示件数を取得


                                    //初回は実行しない
                                    if (!first) {
                                        search(obj.curr, obj.limit);
                                    } else {

                                    }
                                }
                            });
                        });

                    }


                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('ネットワークエラー');
            }
        })

    }
</script>
</body>
</html>



