<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>著者管理システム-Yomeba</title>
        <link rel="stylesheet" href="/css/base.css?v=1"/>
        <link rel="stylesheet" href="/css/user.css"/>
        <style type="text/css">
            .opacity{-khtml-opacity:0.0;-moz-opacity:0.0;filter:alpha(opacity=0);filter:"alpha(opacity=0)";opacity:0.0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);/*ie8以下と互換*/}
        </style>
    </head>
</head>
<body class="">

<div th:replace="common/top :: top('')">
    <div class="header">
        <div class="mainNav" id="mainNav">
            <div class="box_center cf"
                 style="text-align: center;height: 44px;line-height: 48px;color: #fff;font-size: 16px;">

                Yomeba著者管理

            </div>
        </div>
    </div>
</div>

<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">

            <ul class="log_list">
                <li><a class="link_4 on" href="/author/index.html">小説管理</a></li>
                <li><a class="link_2 " href="/author/author_income_detail.html">収入</a></li>
                <!--<li><a class="link_1 " href="/user/userinfo.html">批量小説クロール</a></li>
<li><a class="link_4 " href="/user/favorites.html">単本小説クロール</a></li>-->
            </ul>

        </div>
        <div class="my_r">
            <div class="my_bookshelf">

                <div class="userBox cf">
                    <form method="post" action="./register.html" id="form2">
                        <div class="user_l">
                            <div></div>
                            <h3>小説基本情報の入力</h3>
                            <ul class="log_list">
                                <li><span id="LabErr"></span></li>
                                <b>作品の方向性：</b>
                                <li><select class="s_input" id="workDirection" name="workDirection">
                                    <option value="0">男性向け</option>
                                    <option value="1">女性向け</option>
                                </select>
                                </li>
                                <b>ジャンル（最大3つまで）：</b>
                                <li>
                                    <label style="margin-right:14px;"><input type="checkbox" class="catCb" value="1" data-name="ファンタジー" onchange="catCheck(this)"> ファンタジー</label>
                                    <label style="margin-right:14px;"><input type="checkbox" class="catCb" value="2" data-name="武侠仙侠" onchange="catCheck(this)"> 武侠仙侠</label>
                                    <label style="margin-right:14px;"><input type="checkbox" class="catCb" value="3" data-name="都市恋愛" onchange="catCheck(this)"> 都市恋愛</label>
                                    <label style="margin-right:14px;"><input type="checkbox" class="catCb" value="4" data-name="歴史・軍事" onchange="catCheck(this)"> 歴史・軍事</label>
                                    <label style="margin-right:14px;"><input type="checkbox" class="catCb" value="5" data-name="SF・オカルト" onchange="catCheck(this)"> SF・オカルト</label>
                                    <label style="margin-right:14px;"><input type="checkbox" class="catCb" value="6" data-name="ゲーム・スポーツ" onchange="catCheck(this)"> ゲーム・スポーツ</label>
                                    <label><input type="checkbox" class="catCb" value="7" data-name="女性向けチャンネル" onchange="catCheck(this)"> 女性向けチャンネル</label>
                                </li>
                                <b>小説名：</b>
                                <li><input type="text" id="bookName" name="bookName" class="s_input" ></li>
                                <b>連載状態：</b>
                                <li><select class="s_input" id="bookStatus" name="bookStatus">
                                    <option value="0">連載中</option>
                                    <option value="1">完結</option>
                                </select></li>
                                <b>小説カバー：</b>
                                <li style="position: relative">
                                    <input class="opacity" onchange="picChange()"
                                           type="file" id="file0" name="file"
                                           title="画像をクリックして変更"
                                           style="z-index: 100;cursor: pointer;left: 0px; top: 0px; width: 100px; height: 130px; opacity: 0; position: absolute;  "
                                    />
                                    <img style="width:100px;height: 130px" id="picImage" src="/images/pic_upload.png" alt="">
                                    <input type="hidden" id="picUrl" name="picUrl" class="s_input" value="/images/default.gif"></li>
                                <b>小説紹介：</b>

                                <li><textarea name="bookDesc" rows="5" cols="53" id="bookDesc"
                                              class="textarea"></textarea></li>

                                <li><input type="button" onclick="addBook()" name="btnRegister" value="送信"
                                           id="btnRegister" class="btn_red"></li>
                            </ul>
                        </div>
                    </form>
                </div>
                <!--<div id="divData" class="updateTable">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>

                            <th class="name">
                                クロール元（有効なクロール元）
                            </th>
                            <th class="chapter">
                                クロール成功数（websocket実装）
                            </th>
                            <th class="time">
                            目標クロール数
                            </th>
                            <th class="goread">
                                ステータス（実行中・停止中）（同時に実行できるクロール元は1つのみ）
                            </th>
                            <th class="goread">
                                操作（開始・停止）
                            </th>
                        </tr>
                        </thead>
                        <tbody id="bookShelfList">



                        </tbody>
                    </table>
                    <div class="pageBox cf" id="shellPage">
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>


</body>
<script src="/javascript/jquery-1.8.0.min.js" type="text/javascript"></script>
<script src="/javascript/ajaxfileupload.js" type="text/javascript"></script>

<script src="/layui/layui.all.js" type="text/javascript"></script>
<script src="/javascript/header.js" type="text/javascript"></script>
<script src="/javascript/user.js" type="text/javascript"></script>
<script src="/javascript/common.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">

    function picChange() {
        var file = $("#file0").val(); //ファイル名
        if (file != "") {

            if(checkPicUpload($("#file0")[0])) {
                $.ajaxFileUpload({
                    url: "/file/picUpload", //ファイルアップロード用サーバーリクエストURL
                    secureuri: false, //セキュリティプロトコルが必要かどうか。通常はfalse
                    fileElementId: "file0", //ファイルアップロードフィールドのID
                    dataType: "json", //戻り値の型。通常はjson
                    type: "post",
                    success: function (data) { //サーバー成功応答処理関数
                        if (data.code == 200) {
                            $("#picImage").attr("src", data.data);
                            $("#picUrl").val(data.data);
                        } else {
                            layer.alert(data.msg);
                        }

                    }

                });
            }
        } else {
            alert("アップロードするファイルを選択してください！");
        }



    }

    var lock = false;
    var CAT_MAX = 3;
    function catCheck(el) {
        if ($(".catCb:checked").length > CAT_MAX) {
            el.checked = false;
            $("#LabErr").html("ジャンルは最大" + CAT_MAX + "つまでです");
        }
    }
    function getCheckedCats() {
        var arr = [];
        $(".catCb:checked").each(function(){ arr.push($(this).val()); });
        return arr;
    }
    function getCheckedCatNames() {
        var arr = [];
        $(".catCb:checked").each(function(){ arr.push($(this).data("name")); });
        return arr;
    }

    function addBook() {
        if(lock){
            return;
        }
        lock = true;



        var bookName = $("#bookName").val();
        if(!bookName){
            $("#LabErr").html("小説名を入力してください！");
            lock = false;
            return;
        }
        if(bookName.length > 20){
            $("#LabErr").html("小説名が長すぎます！");
            lock = false;
            return;
        }
        if(getCheckedCats().length == 0){
            $("#LabErr").html("ジャンルを選択してください！");
            lock = false;
            return;
        }

        var picUrl = $("#picUrl").val();
        if(!picUrl){
            $("#LabErr").html("カバー画像を選択してください！");
            lock = false;
            return;
        }

        var bookDesc = $("#bookDesc").val();
        if(!bookDesc){
            $("#LabErr").html("紹介文を入力してください！");
            lock = false;
            return;
        }


        $.ajax({
            type: "POST",
            url: "/author/addBook",
            data: {'workDirection': $("#workDirection").val(),
            'catId':getCheckedCats().join(","),'catName':getCheckedCatNames().join(","),
            'bookName':bookName,'picUrl':picUrl,'bookDesc':bookDesc},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {

                    window.location.href = '/author/index.html';


                } else {
                    lock = false;
                    $("#LabErr").html(data.msg);
                }

            },
            error: function () {
                lock = false;
                layer.alert('ネットワークエラー');
            }
        })

    }

</script>
</html>
