<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>会員登録</title>

    <div th:include="mobile/common/css :: css"></div>


</head>
<body id="read">

<div style="height: 50px;line-height: 50px;text-align: center" class="layui-header header header-doc  layui-bg-cyan">

    <div style="width:10%;float: left;margin-left: 10px">
        <a href="javascript:history.go(-1)">
            <i style="font-size: 20px;color: #fff;" class="layui-icon">&#xe65c;</i></a>
    </div>
    <b class="layui-icon">会員登録</b>
    <div style="width:10%;float: right;margin-right: 10px"><a href="/">
        <i style="font-size: 20px;color: #fff;" class="layui-icon">&#xe68e;</i>
    </a>
    </div>
</div>
<form lay-filter="loginForm" id="form1" style="height: 500px;padding-top:30px;padding-right: 20px" class="layui-form"
      action="">
    <input type="hidden" id="bookIdHidden" name="bookId" th:value="${bookId}"/>

    <div class="layui-form-item">
        <label class="layui-form-label">携帯番号</label>
        <div class="layui-input-inline">
            <input name="txtUName" type="text" id="txtUName" placeholder="携帯番号を入力してください"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">パスワード</label>
        <div class="layui-input-inline">
            <input name="txtPassword" type="password" id="txtPassword" placeholder="请输入パスワード"
                   autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-form-item ">
        <label class="layui-form-label">認証コード</label>
        <div class="layui-input-inline">
            <input name="txtUName" type="text" id="TxtChkCode" placeholder="请输入認証コード"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline"><img
                style="border: 1px solid #eee" class="code_pic" src="" id="chkd"
                onclick="getVerify(this);"/></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="button" value="会員登録" id="btnRegister" class="layui-btn"/>
            <a class="layui-btn layui-btn-primary" href="/user/login.html">ログイン</a>
        </div>
    </div>
</form>


<div th:replace="mobile/common/footer :: footer">
</div>
</body>
<div th:replace="mobile/common/js :: js">
</div>
<script type="text/javascript">
    $("#chkd").click();

    $("#btnRegister").click(function () {
        var username = $("#txtUName").val();
        if (username.isBlank()) {
            layer.alert("携帯番号を入力してください！");
            return;
        }
        if (!username.isPhone()) {
            layer.alert("携帯番号の形式が正しくありません！");
            return;
        }
        var password = $("#txtPassword").val();
        if (password.isBlank()) {
            layer.alert("パスワード不能为空！");
            return;
        }
        var velCode = $("#TxtChkCode").val();
        if (velCode.isBlank()) {
            layer.alert("認証コード不能为空！");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/user/register",
            data: {"username": username, "password": password, "velCode": velCode},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    window.location.href = "/user/login.html";
                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('ネットワークエラー');
            }
        })

    })

    //获取認証コード
    function getVerify(obj) {
        obj.src = "/file/getVerify?" + Math.random();
    }
</script>


</html>