

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'会員ログイン_'+${application.website.name}"></title>
    <meta name="keywords" th:content="'会員ログイン,マイページ,'+${application.website.name}+'小説,'+${application.website.name}" />
    <meta name="description"  th:content="${application.website.name}+'小説は毎日更新の小説連載、小説ランキングを提供。恋愛小説、都市小説、ファンタジー小説、タイムスリップ小説、青春小説、御曹司・財閥小説、ネット小説、無料小説、全本小説、初掲載小説、最新話無料小説の読書は'+${application.website.name}+'小説へ！'" />
    <link rel="stylesheet" href="/css/user.css" />
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>

<div class="main box_center cf">
    <div class="userBox cf">
        <div class="user_l">
            <form method="post" action="./login.html" id="form1">
                <h3 th:text="'ログイン'+${application.website.name}"></h3>
                <ul class="log_list">
                    <li><span id="LabErr"></span></li>
                    <li><input name="txtUName" type="text" id="txtUName" placeholder="メールアドレス / ログインアカウント" class="s_input icon_name" /></li>
                    <li><input name="txtPassword" type="password" id="txtPassword" placeholder="パスワード" class="s_input icon_key" /></li>
                    <li class="autologin cf"><label class="fl"><input id="autoLogin" type="checkbox"  /><em>次回から自動ログイン</em></label></li>
                    <li><input type="button" name="btnLogin" value="ログイン" id="btnLogin" class="btn_red" /></li>
                </ul>
            </form>
        </div>
        <div class="user_r">
            <p class="tit">まだ会員登録されていませんか？</p>
            <a href="/user/register.html" class="btn_ora_white">今すぐ会員登録</a>
            <p class="tit" style="margin-top:20px;">作家の方はこちら</p>
            <a href="/author/register.html" class="btn_ora_white">作家新規登録</a>
            <a href="/user/login.html?originUrl=/author/index.html" class="btn_ora_white" style="margin-top:8px;">作家ログイン</a>
            <div class="fast_login" style="display:none;">
                <div class="fast_tit">
                    <p class="lines"></p>
                    <span class="title">他のログイン方法</span>
                </div>
                <ul class="fast_list">
                    <li class="login_wb"><a href="/"><img src="/images/login_weibo.png" alt="Weiboログイン" class="img" /><span>Weiboログイン</span></a></li>
                    <li class="login_qq"><a href="/"><img src="/images/login_qq.png" alt="QQログイン" class="img" /><span>QQログイン</span></a></li>
                    <li class="login_wx"><a href="/"><img src="/images/login_weixin.png" alt="WeChatログイン" class="img" /><span>WeChatログイン</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer">
</div>


</body>
<div th:replace="common/js :: js"></div>
<script type="text/javascript">
    if(localStorage.getItem("autoLogin")==1){
        $("#autoLogin").attr("checked",'true');
    }else{
        $("#autoLogin").removeAttr("checked");
    }
    $("#btnLogin").click(function () {
        var username = $("#txtUName").val();
        if(username.isBlank()){
            $("#LabErr").html("携帯番号またはログインアカウントを入力してください！");
            return;
        }
        var password = $("#txtPassword").val();
        if(password.isBlank()){
            $("#LabErr").html("パスワードを入力してください！");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/user/login",
            data: {"username": username, "password": password},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    if($("#autoLogin").is(':checked')){
                        $.cookie('Authorization', data.data.token, { expires: 7 ,path: '/'  });
                        localStorage.setItem("autoLogin","1");
                    }else {
                        $.cookie('Authorization', data.data.token,{ path: '/'  });
                        localStorage.setItem("autoLogin","0");
                    }
                    var orginUrl = getSearchString("originUrl");
                    window.location.href = orginUrl == undefined || orginUrl.isBlank() ? "/" : orginUrl;
                } else {
                    $("#LabErr").html(data.msg);
                }

            },
            error: function () {
                layer.alert('ネットワークエラー');
            }
        })

    })
</script>
</html>