<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'会員登録_'+${application.website.name}"></title>
    <meta name="keywords" th:content="'会員登録,マイページ,'+${application.website.name}+'小説,'+${application.website.name}"/>
    <meta name="description"
          th:content="${application.website.name}+'小説は毎日更新の小説連載、小説ランキングを提供。恋愛小説、都市小説、ファンタジー小説、タイムスリップ小説、青春小説、御曹司・財閥小説、ネット小説、無料小説、全本小説、初掲載小説、最新話無料小説の読書は'+${application.website.name}+'小説へ！'"/>
    <link rel="stylesheet" href="/css/user.css" />
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>

<div class="main box_center cf">
    <div class="userBox cf">
        <form method="post" action="./register.html" id="form2">
            <div class="user_l">
                <h3 th:text="'会員登録'+${application.website.name}+'小説アカウント'"></h3>
                <ul class="log_list">
                    <li><span id="LabErr"></span></li>
                    <li><input name="txtUName" type="text" id="txtUName" class="s_input icon_name"
                               placeholder="メールアドレスを入力してください"/></li>
                    <li><input name="txtPassword" type="password" id="txtPassword" class="s_input icon_key"
                               placeholder="パスワードを入力：6〜20桁の英数字"/></li>
                    <li class="log_code cf"><input name="TxtChkCode" type="text" maxlength="4" id="TxtChkCode"
                                                   class="s_input icon_code" placeholder="認証コードを入力してください"/><img
                            style="border: 1px solid #eee" class="code_pic" src="" id="chkd"
                            onclick="getVerify(this);"/></li>
                    <li><input type="button" name="btnRegister" value="会員登録" id="btnRegister" class="btn_red"/></li>
                </ul>
            </div>
        </form>
        <div class="user_r">
            <p class="tit">すでにアカウントをお持ちですか？</p>
            <a href="/user/login.html" class="btn_ora_white">今すぐログイン</a>
            <p class="tit" style="margin-top:20px;">作家になりたい方はこちら</p>
            <a href="/author/register.html" class="btn_ora_white">作家新規登録</a>
            <div class="fast_login" style="display:none;">
                <div class="fast_tit">
                    <p class="lines"></p>
                    <span class="title">他のログイン方法</span>
                </div>
                <ul class="fast_list">
                    <li class="login_wb"><a href="/"><img src="/images/login_weibo.png" alt="Weiboログイン"
                                                                    class="img"><span>Weiboログイン</span></a></li>
                    <li class="login_qq"><a href="/"><img src="/images/login_qq.png" alt="QQログイン"
                                                                    class="img"><span>QQログイン</span></a></li>
                    <li class="login_wx"><a href="/"><img src="/images/login_weixin.png" alt="WeChatログイン"
                                                                    class="img"><span>WeChatログイン</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script language="javascript" type="text/javascript">
    $("#chkd").click();
    $(function () {
        $("#form2").submit(function () {
            if ($("#txtUName").val() != "" && $("#txtPassword").val() != "" && $("#TxtSmsCode").val() != "") {
            } else {
                layer.open({
                    content: 'すべての項目を入力してください',
                    style: UserUtil.msgStyle,
                    time: 2
                });
                return false;
            }
        });
    });

    //認証コードを取得
    function getVerify(obj) {
        obj.src = "/file/getVerify?" + Math.random();
    }

    $("#btnRegister").click(function () {
        var username = $("#txtUName").val();
        if (username.isBlank()) {
            $("#LabErr").html("メールアドレスを入力してください！");
            return;
        }
        if (!/^[A-Za-z0-9+_.-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/.test(username)) {
            $("#LabErr").html("メールアドレスの形式が正しくありません！");
            return;
        }
        var password = $("#txtPassword").val();
        if (password.isBlank()) {
            $("#LabErr").html("パスワードを入力してください！");
            return;
        }
        var velCode = $("#TxtChkCode").val();
        if (velCode.isBlank()) {
            $("#LabErr").html("認証コードを入力してください！");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/user/register",
            data: {"username": username, "password": password,"velCode":velCode},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    $.cookie('Authorization', data.data.token, {path: '/'});
                    window.location.href="/";
                } else {
                    $("#LabErr").html(data.msg);
                }

            },
            error: function () {
                layer.alert('ネットワークエラー');
            }
        })

    })
</script>
</body>
</html>