<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{},~{::link},~{})">
    <title th:text="'ニックネーム変更_'+${application.website.name}"></title>
    <link rel="stylesheet" href="/css/user.css?v=1"/>
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">

            <ul class="log_list">
                <li><a class="link_1 " href="/user/userinfo.html">マイページ</a></li>
                <li th:if="${isAuthor}"><a class="link_9 " href="/author/index.html">作品管理</a></li>
                <li><a class="link_4" href="/user/favorites.html">マイ本棚</a></li>
                <li><a class="link_6" href="/user/comment.html">マイレビュー</a></li>
                <li><a class="link_7 " href="/user/feedback_list.html">マイフィードバック</a></li>
                <li><a class="link_8 on" href="/user/setup.html">アカウント設定</a></li>
            </ul>

        </div>
        <div class="my_r">
            <div class="my_info cf">
                <div class="my_info_txt">
                    <ul class="mytab_list">
                        <li><i class="tit">マイニックネーム</i><input name="txtNiceName" type="text" value="15171695474"
                                                          maxlength="11" id="txtNiceName" class="s_input"
                                                          placeholder=""/></li>
                        <li><i class="tit">&nbsp;</i>ユーザー名は漢字・英字・数字・アンダースコアのみ使用できます</li>
                        <li><i class="tit">&nbsp;</i><input type="button" onclick="updateName()" name="btn" value="変更"
                                                            id="btn" class="s_btn btn_red"/></li>
                        <li><i class="tit">&nbsp;</i><span id="LabErr"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script type="text/javascript">
    //ユーザー情報を取得
    $.ajax({
        type: "get",
        url: "/user/userInfo",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                if (data.data.nickName) {
                    $("#txtNiceName").val(data.data.nickName);
                } else {
                    $("#txtNiceName").val(data.data.username);
                }


            } else if (data.code == 1001) {
                //未ログイン
                location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('ネットワークエラー');
        }
    })

    function updateName() {
        var nickname = $("#txtNiceName").val();
        if (nickname.isBlank()) {
            $("#LabErr").html("ニックネームを入力してください！");
            return;
        }
        if (!nickname.isNickName()) {
            $("#LabErr").html("ニックネームの形式が正しくありません！");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/user/updateUserInfo",
            data: {'nickName': nickname},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {

                    $.cookie('Authorization', data.data.token, {path: '/'});
                    window.location.href = '/user/setup.html';

                } else if (data.code == 1001) {
                    //未ログイン
                    location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

                } else {
                    $("#LabErr").html(data.msg);
                }

            },
            error: function () {
                layer.alert('ネットワークエラー');
            }
        })
    }
</script>

</body>
</html>
