<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{},~{::link},~{})">
    <title th:text="'パスワード変更_'+${application.website.name}"></title>
    <link rel="stylesheet" href="/css/user.css"/>
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">

            <ul class="log_list">
                <li><a class="link_1 " href="/user/userinfo.html">マイページ</a></li>
                <li th:if="${isAuthor}"><a class="link_9 " href="/author/index.html">作品管理</a></li>
                <li><a class="link_4" href="/user/favorites.html">マイ本棚</a></li>
                <li><a class="link_6" href="/user/comment.html">マイレビュー</a></li>
                <li><a class="link_7 " href="/user/feedback_list.html">マイフィードバック</a></li>
                <li><a class="link_8 on" href="/user/setup.html">アカウント設定</a></li>
            </ul>

        </div>
        <div class="my_r">
            <div class="my_info cf">
                <div class="my_info_txt">
                    <ul class="mytab_list">
                        <li><i class="tit">パスワード</i><input name="oldPass" type="password" id="txtOldPass" class="s_input"
                                                          placeholder="元のパスワードを入力してください"/></li>
                        <li><i class="tit">&nbsp;</i><input name="txtNewPass1" type="password" id="txtNewPass1"
                                                            class="s_input" placeholder="新しいパスワードを入力してください"/></li>
                        <li><i class="tit">&nbsp;</i><input name="txtNewPass2" type="password" id="txtNewPass2"
                                                            class="s_input" placeholder="新しいパスワードを再入力してください"/></li>
                        <li><i class="tit">&nbsp;</i><input type="submit" name="btnExchangePassword" value="変更"
                                                            id="btnExchangePassword" onclick="updatePassword()"
                                                            class="s_btn btn_red"/></li>
                        <li><i class="tit">&nbsp;</i><span id="LabErr"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script type="text/javascript">
    function updatePassword() {
        var oldPassword = $("#txtOldPass").val();
        if (oldPassword.isBlank()) {
            $("#LabErr").html("現在のパスワードを入力してください！");
            return;
        }
        var newPassword1 = $("#txtNewPass1").val();
        if (newPassword1.isBlank()) {
            $("#LabErr").html("新しいパスワードを入力してください！");
            return;
        }
        var newPassword2 = $("#txtNewPass2").val();
        if (newPassword2.isBlank()) {
            $("#LabErr").html("確認用パスワードを入力してください！");
            return;
        }
        if (newPassword1 !== newPassword2) {
            $("#LabErr").html("新しいパスワードが一致しません！");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/user/updatePassword",
            data: {'oldPassword': oldPassword, 'newPassword1': newPassword1, 'newPassword2': newPassword2},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    window.location.href = '/user/setup.html';

                } else if (data.code == 1001) {
                    //未ログイン
                    location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

                } else {
                    $("#LabErr").html(data.msg);
                }

            },
            error: function () {
                layer.alert('ネットワークエラー');
            }
        })
    }
</script>

</body>
</html>
