<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{},~{::link},~{})">
    <title th:text="'アカウント設定_'+${application.website.name}"></title>
    <link rel="stylesheet" href="/css/user.css"/>
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">

            <ul class="log_list">
                <li><a class="link_1 " href="/user/userinfo.html">マイページ</a></li>
                <li th:if="${isAuthor}"><a class="link_9 " href="/author/index.html">作品管理</a></li>
                <li><a class="link_4" href="/user/favorites.html">マイ本棚</a></li>
                <li><a class="link_6" href="/user/comment.html">マイレビュー</a></li>
                <li><a class="link_7 " href="/user/feedback_list.html">マイフィードバック</a></li>
                <li><a class="link_8 on" href="/user/setup.html">アカウント設定</a></li>
            </ul>

        </div>
        <div class="my_r">
            <div class="my_info cf">
                <div class="my_info_txt">
                    <ul class="mytab_list">
                        <li><i class="tit">マイアバター</i>
                            <a style="position: relative">
                                <img id="imgLogo" class="user_img" alt="マイアバター" src="/images/man.png"/>
                                <input class="opacity" onchange="picChange()" type="file" id="file0" name="file"
                                       title="画像をクリックしてアップロード"
                                       style="z-index: 100;cursor: pointer;left: 0px; top: -25px; width: 60px; height: 80px; opacity: 0; position: absolute;  "/>

                            </a>

                        </li>
                        <li><i class="tit">マイニックネーム</i><a href="/user/set_name.html" id="my_name"></a></li>
                        <li style="display:none"><i class="tit">メールアドレス</i><a href="javascript:void(0);"></a></li>
                        <li><i class="tit">私の性別</i><a href="/user/set_sex.html" id="my_sex"></a></li>
                        <li><i class="tit">パスワード</i><a href="/user/set_password.html">パスワード変更</a></li>
                        <li><i class="tit">ステータス</i><a href="javascript:logout()">ログアウト</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/user.js" type="text/javascript"></script>
<script src="/javascript/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript">
    //ユーザー情報を取得
    $.ajax({
        type: "get",
        url: "/user/userInfo",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                if (data.data.userPhoto) {
                    $("#imgLogo").attr("src", data.data.userPhoto);
                }
                if (data.data.nickName) {
                    $("#my_name").html(data.data.nickName + "<em class=\"ml10\">[変更]</em>");
                } else {
                    $("#my_name").html(data.data.username + "<em class=\"ml10\">[変更]</em>");
                }
                if (data.data.userSex === '0') {
                    $("#my_sex").html("男性<em class=\"ml10\">[変更]</em>");
                } else if (data.data.userSex === '1') {
                    $("#my_sex").html("女性<em class=\"ml10\">[変更]</em>");
                } else {
                    $("#my_sex").html("選択してください");
                }


            } else if (data.code == 1001) {
                //未ログイン
                location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('ネットワークエラー');
        }
    })


    function picChange() {
        var file = $("#file0").val(); //ファイル名
        if (file != "") {

            if (checkPicUpload($("#file0")[0])) {

                $.ajaxFileUpload({
                    url: "/file/picUpload", //ファイルアップロード用サーバーリクエストURL
                    secureuri: false, //セキュリティプロトコルが必要かどうか。通常はfalse
                    fileElementId: "file0", //ファイルアップロードフィールドのID
                    dataType: "json", //戻り値の型。通常はjson
                    type: "post",
                    success: function (data) { //サーバー成功応答処理関数
                        if (data.code == 200) {

                            $.ajax({
                                type: "POST",
                                url: "/user/updateUserInfo",
                                data: {'userPhoto': data.data},
                                dataType: "json",
                                success: function (data) {
                                    if (data.code == 200) {
                                        window.location.href = '/user/setup.html';

                                    } else if (data.code == 1001) {
                                        //未ログイン
                                        location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

                                    } else {
                                        layer.alert(data.msg);
                                    }

                                },
                                error: function () {
                                    layer.alert('ネットワークエラー');
                                }
                            })

                        } else {
                            layer.alert(data.msg);
                        }

                    }

                });
            }
        } else {
            alert("アップロードするファイルを選択してください！");
        }


    }
</script>
</body>
</html>
