<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{},~{::link},~{})">
    <title th:text="'チャージ_'+${application.website.name}"></title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>

<form action="/pay/aliPay" method="post" id="payform" name="payform">
    <div class="main box_center cf">

        <div class="channelWrap channelPay cf">

            <div class="payBox cf">
                <div class="payHead cf">
                    <div class="fl">
                        チャージアカウント：<span class="user_name" id="my_name"></span>残高：<em class="red" id="accountBalance">0</em>コイン
                        <!--<em class="red">+0</em>クーポン-->
                    </div>
                </div>
                <div class="payCon">
                    <h5>チャージ方法を選択</h5>
                    <ul class="pay_way cf" id="ulPayType">
                        <li class="on" valp="1"><img class="pay_pic" src="../images/pay_zfb.png" alt="支付宝決済"/></li>
                        <li valp="2"><img class="pay_pic" src="../images/pay_wx.png" alt="WeChat決済"/></li>

                    </ul>
                    <h5>チャージ金額を選択</h5>
                    <ul class="pay_way cf" id="ulZFWX">
                        <li vals="10"><strong>10元</strong><span class="pay_mn">1000コイン</span></li>
                        <li vals="30"><strong>30元</strong><span class="pay_mn">3000コイン</span></li>
                        <li vals="50"><strong>50元</strong><span class="pay_mn">5000コイン
                            <!--<em class="red">+ 送500クーポン</em>--></span></li>
                        <li vals="100"><strong>100元</strong><span class="pay_mn">10000コイン
                            <!--<em class="red">+ 送1200クーポン</em>--></span></li>
                        <li vals="200"><strong>200元</strong><span class="pay_mn">20000コイン
                            <!--<em class="red">+ 送3000クーポン</em>--></span></li>
                        <li vals="500"><strong>500元</strong><span class="pay_mn">50000コイン
                            <!--<em class="red">+ 送10000クーポン</em>--></span></li>
                    </ul>
                    <ul class="pay_way cf" style="display:none;" id="ulPayPal">
                        <li vals="20"><strong>20ドル</strong><span class="pay_mn">10000コイン</span></li>
                        <li vals="50" class="on"><strong>50ドル</strong><span class="pay_mn">25000コイン<em class="red"></em></span>
                        </li>
                        <li vals="100"><strong>100ドル</strong><span class="pay_mn">50000コイン<em class="red"></em></span>
                        </li>
                    </ul>
                    <ul class="pay_Checkout" id="ulZFWXXJ">
                        <li>現在のレート：1元=100コイン</li>
                        <li>合計金額：<em class="red" id="showTotal">￥50元</em> 獲得 <em class="red" id="showRemark">5000コイン
                            <!--+500クーポン--></em></li>
                        <li style="display:none"><a class="btn_red" href="pay_success.html"
                                                    onclick="javascript:UserPay.sendPay();">すぐに支払う</a></li>
                    </ul>
                    <ul class="pay_Checkout" style="display:none;" id="ulPayPalXJ">
                        <li>現在のレート：1ドル=500コイン</li>
                        <li>合計金額：<em class="red" id="showPayPalTotal">50ドル</em> 獲得 <em class="red"
                                                                                       id="showPayPalRemark">25000コイン</em>
                        </li>
                        <li style="display:none"><a class="btn_red" href="javascript:void(0);"
                                                    onclick="javascript:UserPay.sendPay();">すぐに支払う</a></li>
                    </ul>
                </div>
                <div class="payFoot">
                    <strong class="tip_tit">ご注意</strong>
                    <ul class="tip_list">
                        <li>1. チャージした読書権限はこのサイト内のみでご利用いただけます</li>
                        <li>2. チャージはクレジットカード、デビットカード、支付宝残高、WeChat残高などでお支払いいただけます</li>
                        <li>3. 年間パックは365日間です。繰り返し購入すると期間が加算されます</li>
                        <li>4. チャージで問題が発生した場合は、<a href="/user/feedback.html" target="_blank" class="unlink black9">こちらからご連絡ください</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="pValue" name="payAmount"/>
</form>


<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/pay.js" type="text/javascript"></script>

<script type="text/javascript">


    //ユーザー情報の取得
    $.ajax({
        type: "get",
        url: "/user/userInfo",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                if (data.data.nickName) {
                    $("#my_name").html(data.data.nickName);
                } else {
                    $("#my_name").html(data.data.username);
                }

                $("#accountBalance").html(data.data.accountBalance);

            } else if (data.code == 1001) {
                //未ログイン
                location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('ネットワークエラー');
        }
    })

    $("#ulZFWX").find("li").click(function () {

        var payType = $("#ulPayType").find("li.on").attr("valp");

        if (payType == 2) {
            layer.alert("WeChat決済暂未开通，敬请期待");
            return;
        }

        $("#pValue").val($(this).attr("vals"));

        $("#payform").submit();


    });
</script>


</body>
</html>