<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${dataPerm.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">権限名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.name}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">テーブル名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.tableName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">所属モジュール：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.moduleName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ユーザー権限制御属性名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.crlAttrName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">テーブル権限制御カラム名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.crlColumnName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">権限コード：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.permCode}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">並び順：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.orderNum}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作成日時：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.gmtCreate}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">更新日時：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.gmtModified}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
