<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${bookComment.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">小説ID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookComment.bookId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">コメント内容：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookComment.commentContent}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">返信数：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookComment.replyCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">審査状況（0：審査待ち、1：審査通過、2：審査却下）：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookComment.auditStatus}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">コメント日時：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookComment.createTime}==null?null:${#dates.format(bookComment.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">コメント投稿者：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookComment.createUserId}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
