<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${pay.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">外部取引番号：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.outTradeNo}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">注文番号：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.tradeNo}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">支払い方法：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.payChannel}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">取引yomiコイン：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.totalAmount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">支払ユーザーID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.userId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">支払状態（0：支払失敗、1：支払成功、2：支払待ち）：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.payStatus}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作成日時：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.createTime}==null?null:${#dates.format(pay.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">更新日時：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.updateTime}==null?null:${#dates.format(pay.updateTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
