<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作品方向（0：男性向け、1：女性向け）：</label>
                            <div class="col-sm-8">
                                <input id="workDirection" name="workDirection"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ジャンルID：</label>
                            <div class="col-sm-8">
                                <input id="catId" name="catId"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ジャンル名：</label>
                            <div class="col-sm-8">
                                <input id="catName" name="catName"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">サブジャンルID：</label>
                            <div class="col-sm-8">
                                <input id="catChildId" name="catChildId"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">サブジャンル名：</label>
                            <div class="col-sm-8">
                                <input id="catChildName" name="catChildName"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">小説表紙：</label>
                            <div class="col-sm-8">
                                <input id="picUrl" name="picUrl"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">小説名：</label>
                            <div class="col-sm-8">
                                <input id="bookName" name="bookName"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">主人公名：</label>
                            <div class="col-sm-8">
                                <input id="heroName" name="heroName"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ヒロイン名：</label>
                            <div class="col-sm-8">
                                <input id="ladyName" name="ladyName"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作品スタイル（0：甘々、1：切ない、2：その他）：</label>
                            <div class="col-sm-8">
                                <input id="bookStyle" name="bookStyle"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作品タグ：</label>
                            <div class="col-sm-8">
                                <input id="bookLabel" name="bookLabel"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作家ID：</label>
                            <div class="col-sm-8">
                                <input id="authorId" name="authorId"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作家名：</label>
                            <div class="col-sm-8">
                                <input id="authorName" name="authorName"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作品説明：</label>
                            <div class="col-sm-8">
                                <input id="bookDesc" name="bookDesc"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">評価（予備項目）：</label>
                            <div class="col-sm-8">
                                <input id="score" name="score"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作品状態（0：連載中、1：完結）：</label>
                            <div class="col-sm-8">
                                <input id="bookStatus" name="bookStatus"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">閲覧数：</label>
                            <div class="col-sm-8">
                                <input id="visitCount" name="visitCount"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">総文字数：</label>
                            <div class="col-sm-8">
                                <input id="wordCount" name="wordCount"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">コメント数：</label>
                            <div class="col-sm-8">
                                <input id="commentCount" name="commentCount"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">昨日の購入数：</label>
                            <div class="col-sm-8">
                                <input id="yesterdayBuy" name="yesterdayBuy"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最新話ID：</label>
                            <div class="col-sm-8">
                                <input id="lastIndexId" name="lastIndexId"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最新話名：</label>
                            <div class="col-sm-8">
                                <input id="lastIndexName" name="lastIndexName"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最新話更新日時：</label>
                            <div class="col-sm-8">
                                <input type="text" class="laydate-icon layer-date form-control"
                                       id="lastIndexUpdateTime"
                                       name="lastIndexUpdateTime"
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       style="background-color: #fff;" readonly="readonly"/>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">有料設定（1：有料、0：無料）：</label>
                            <div class="col-sm-8">
                                <input id="isVip" name="isVip"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">状態（0：入庫、1：公開中）：</label>
                            <div class="col-sm-8">
                                <input id="status" name="status"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">更新日時：</label>
                            <div class="col-sm-8">
                                <input type="text" class="laydate-icon layer-date form-control"
                                       id="updateTime"
                                       name="updateTime"
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       style="background-color: #fff;" readonly="readonly"/>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">作成日時：</label>
                            <div class="col-sm-8">
                                <input type="text" class="laydate-icon layer-date form-control"
                                       id="createTime"
                                       name="createTime"
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       style="background-color: #fff;" readonly="readonly"/>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">クロール元サイトID：</label>
                            <div class="col-sm-8">
                                <input id="crawlSourceId" name="crawlSourceId"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">クロール元小説ID：</label>
                            <div class="col-sm-8">
                                <input id="crawlBookId" name="crawlBookId"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最終クロール日時：</label>
                            <div class="col-sm-8">
                                <input type="text" class="laydate-icon layer-date form-control"
                                       id="crawlLastTime"
                                       name="crawlLastTime"
                                       onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                       style="background-color: #fff;" readonly="readonly"/>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">クロール停止状況（0：継続中、1：停止済）：</label>
                            <div class="col-sm-8">
                                <input id="crawlIsStop" name="crawlIsStop"
                                       class="form-control"
                                       type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">送信</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/wangEditor/release/wangEditor.js"></script>
<script type="text/javascript" src="/js/appjs/novel/book/add.js">
</script>
</body>
</html>
