<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${book.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作品方向（0：男性向け、1：女性向け）：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.workDirection}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ジャンルID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ジャンル名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">子ジャンルID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catChildId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">子ジャンル名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catChildName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">小説表紙：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.picUrl}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">小説名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">主人公名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.heroName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">ヒロイン名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.ladyName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作品スタイル（0：甘々、1：切ない、2：その他）：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookStyle}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作品タグ：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookLabel}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作家ID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.authorId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作家名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.authorName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作品説明：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookDesc}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">評価（予備項目）：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.score}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作品状態（0：連載中、1：完結）：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookStatus}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">閲覧数：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.visitCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">総文字数：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.wordCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">コメント数：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.commentCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">昨日の購入数：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.yesterdayBuy}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">最新話ID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.lastIndexId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">最新話名：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.lastIndexName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">最新話更新日時：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.lastIndexUpdateTime}==null?null:${#dates.format(book.lastIndexUpdateTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">有料設定（1：有料、0：無料）：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.isVip}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">状態（0：入庫、1：公開中）：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.status}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">更新日時：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.updateTime}==null?null:${#dates.format(book.updateTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">作成日時：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.createTime}==null?null:${#dates.format(book.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">クロール元サイトID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlSourceId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">クロール元小説ID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlBookId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">最終クロール日時：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlLastTime}==null?null:${#dates.format(book.crawlLastTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">クロール停止状況（0：継続中、1：停止済）：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlIsStop}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
