<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'お知らせ_'+${application.website.name}"></title>
    <meta name="keywords" content="お知らせ,小説,小説サイト,現代恋愛小説,都市恋愛小説,ファンタジー小説,タイムスリップ小説,青春学園小説,社長ロマンス小説,ネット小説,無料小説,完本小説,オリジナルネット文学"/>
    <meta name="description" th:content="${application.website.name}+'小説を毎日更新中。小説ランキング、現代恋愛小説、都市恋愛小説、ファンタジー小説、タイムスリップ小説、青春学園小説、社長ロマンス小説、ネット小説、無料小説、完本小説、最新話を無料で読めます。'+${application.website.name}+'小説でお楽しみください！'" />
    <link rel="stylesheet" href="/css/about.css?v=1" />
</head>
<body class="body">

<div th:replace="common/top :: top('')">
</div>
<input type="hidden" id="newsId" th:value="${news.id}"/>
<div class="main box_center cf">
    <div class="newsMain cf">
        <div class="nav_sub">
            現在位置：<a href="/" > ホーム </a> &gt; <a href="/about/news.html" > お知らせ </a> &gt; <span th:utext="${news.title}">  </span>
        </div>
        <div class="channelWrap channelNews cf">
            <div class="news_title">
                <h2 th:utext="${news.title}"></h2>
                <!--while [[...]] corresponds to th:text (i.e. result will be HTML-escaped), [(...)] corresponds to th:utext-->
                <p class="from">出典：[[${news.sourceName}]] <span class="time" th:text="'日時：'+${#dates.format(news.createTime, 'yy-MM-dd')}"></span> <span class="time" th:text="'閲覧数：'+${news.readCount}"></span></p>
            </div>
            <div class="news_info" th:utext="${news.content}">
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer">
</div>

</body>
<div th:replace="common/js :: js"></div>
<script src="/javascript/bookdetail.js" type="text/javascript"></script>
<script type="text/javascript">
    $.post("/news/addReadCount", {"newsId": $("#newsId").val()}, function () {
    });
</script>
</html>
